body {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#results {
    margin-top: 1em;
}

.beacon {
    height: 4em;
    padding: 0.25em;
}

.beacon .image {
    height: 4em;
    width:  13.75em;
}

.beacon img {
    height: 4em;
}

.beacon .name {
    height: 4em;
    width:  
    padding: 0.25em;
}

.beacon .response {
    height: 4em;
    padding: 0.25em;
}

#query:placeholder-shown {
    color: #888888;
}

#query {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
