body {
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #f5f5f5;
}

#title {
    font-weight: 300;
    font-size: xx-large;
    text-align: center;
    margin: 1em 0;
}

#user {
    margin-bottom: 2em;
    width: 100%;
    text-align: center;
}

#user a {
    text-decoration: none;
    color: inherit;
}

#input {
    margin-bottom: 2em;
}

#results {
    margin-top: 2em;
}

.beacon {
    width: 38em;
    margin-bottom: 1em;
    background: #ffffff;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.beacon .image {
    height: 4em;
    width: 40%;
    float: left;
}

.beacon img {
    height: 4em;
}

.beacon .beaconname {
    height: 4em;
    line-height: 4em;
    width: 20%;
    float: left;
}

.beacon .response {
    height: 4em;
    line-height: 4em;
    width: 40%;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#query:placeholder-shown {
    color: #888888;
}

#query {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: block;
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#query:focus {
    outline: 0;
    border: solid;
    border-width: 1px;
    border-color: #0000ff;
    border-radius: 4px;
}

#queryButton {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    float: right;
    width: 15%;
    height: 34px;
    color: #555;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#queryButton:hover {
    color: #0000ff;
    border-color: #0000ff;
}

#queryButton:focus {
    outline: 0;
    border: solid;
    border-width: 1px;
    border-color: #0000ff;
    border-radius: 4px;
}

#loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #888888;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    animation: spin 1s linear infinite;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes hideAndMinimize {
    from {visibility: visible;}
    to   {visibility: hidden;}
}

@keyframes unhide {
    from {visibility: hidden;}
    to   {visibility: visible;}
}
