<html>
  <head>
    <title>Query</title>
    <script src="/static/js/query.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/query.css"></link>
    <script>
      window.onload = () => connect({{.URL}}, 'query', 'results', 'queryButton', 'loader', {{.Timeout}}, {{.Count}});
    </script>
  </head>

  <body>
    <div id="title">
      Beacon of Beacons
    </div>

    <div id="input" class="clearfix">
      <input id="query" tabindex="1" type="text" placeholder="13:32900706 >T"></input>
      <button id="queryButton" tabindex="2">Query</button>
    </div>

    <div id="loader"></div>

    <div id="results">
    </div>

  </body>  
</html>
